.menu-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.menu-item:hover {
    background-color: var(--second-bg);
    cursor: pointer;
    color: var(--second-color);
}

.menu-item > i {
    margin-right: 20px;
    font-size: 1.5rem;
}

.menu-toggle-btn {
    font-size: 2.0rem;
}