@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Graduate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:wght@400;700&family=Zen+Dots&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family:'Space Grotesk','Space Mono','JetBrains Mono', monospace, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
    --sidebar-width: 240px;
    --border-radius: 5px;
    --topnav-height: 60px;

    --topnav-logo-height: 0px;
    --sidebar-logo:url('../images/logo_icon_white_mark.svg');
    
}

/*窄屏时去掉侧边栏*/
@media screen and (max-width: 1024px) {
  :root {
      --sidebar-width:0px;
      --topnav-logo-height: 36px;
  }
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: #733DFF;
}

.app-logo {
  background-image: url('../images/logo-standard-01@4x.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

input:checked ~ .dot {
  transform: translateX(140%);
  background-color: #FFF;
}

input[type="text"]:focus {
  border: 1px solid #733DFF !important; /* 设置焦点时的边框颜色为绿色 */
}

input[type="text"]:hover {
  border: 1px solid #733DFF !important; /* 设置焦点时的边框颜色为绿色 */
}